#body_view {
    position: absolute;
    top: 4%;
    left: 0;
    width: 100%;
    height: 96%;
    z-index: 0;
}

#man_background {
    position: absolute;
    top: 100px;
    left: 450px;
    width: 270px;
    height: 450px;
    background-color: rgb(184, 215, 240, 0.2);
    /* overflow: hidden; */
}
#man_background, #woman_background:hover{
    cursor: pointer;
}
#woman_background {
    position: absolute;
    top: 100px;
    left: 755px;
    width: 270px;
    height: 450px;
    background-color: rgb(240, 185, 237, 0.2);
    /* overflow: hidden; */
}