#disease_bar_view{
    position: absolute;
    background: rgba(224, 225, 227, 0.2);
    right: 0;
    top: 8%;
    height: 350px;
    width: 420px;
    box-shadow: 0 0 10px #888888;
    z-index: 1;
}