#radar{
   background: rgba(125, 126, 128, 0.2);
    /*background: transparent;*/
    position: absolute;
    right: 0;
    top:4%;
    width: 25%;
    height: 45%;
    /*border:1px solid #BFBFBF;*/
    box-shadow: 0 0 10px #888888;
    z-index: 1;
}