body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(177,209,242, 0.2);
}

#title {
    background-color: gray;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 4%;
    box-shadow: 0 0 5px #2b2b2b;
    z-index: 9;
}
#main_view{
    position: absolute;
    top: 4%;
    right: 0;
    width: 100%;
    height: 96%;
}

#system_title {
    color: white;
    position: absolute;
    top: 2%;
    left: 38%;
    font-size: 20px;
    font-weight: bold;
}

#body_page {
    position: absolute;
    left: 2%;
    top: 10%;
    width: 90px;
    height: 24px;
    background-color: whitesmoke;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: 0 0 5px #2b2b2b;
}

#map_page {
    position: absolute;
    right: 2%;
    top: 10%;
    width: 90px;
    height: 24px;
    background-color: whitesmoke;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: 0 0 5px #2b2b2b;
}

#map_page:hover, #body_page:hover {
    background-color: #f05454
}

#xiaobei {
    position: absolute;
    left: 30%;
    width: 39%;
    height: 68%;
    background-color: rgba(224, 225, 227, 0.2);
}

#tem {
    position: absolute;
    top: 70%;
    left: 1%;
    width: 98%;
    height: 30%;
    background-color:rgba(224, 225, 227, 0.2);
}

#scatter {
    position: absolute;
    top: 0;
    left: 0;
    width: 29%;
    height: 68%;
    background-color: rgba(224, 225, 227, 0.2);
}

#heatmap {
    position: absolute;
    width: 29%;
    height: 35%;
    left: 70%;
    background-color: rgba(224, 225, 227, 0.2);
}

#scatter2 {
    position: absolute;
    width: 29%;
    top: 36%;
    height: 33%;
    left: 70%;
    background-color: rgba(224, 225, 227, 0.2);
}