<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HealthVis</title>
</head>

<script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
<script type="text/javascript" src="../static/lib/jquery/jquery-3.1.1.min.js"></script>


<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.10.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.10.0/mapbox-gl.css' rel='stylesheet' />

<link rel="stylesheet" href="../static/css/base.css">
<link rel="stylesheet" href="../static/css/map_view.css">
<link rel="stylesheet" href="../static/css/timeline.css">
<link rel="stylesheet" href="../static/css/radar.css">
<link rel="stylesheet" href="../static/css/job_pie.css">
<link rel="stylesheet" href="../static/css/body_view.css">
<link rel="stylesheet" href="../static/css/word_cloud.css">

<body>
    <div id="title">
        <span id="system_title">日照市健康可视分析系统</span>
{#        <button id="second_page">feature</button>#}
    </div>
    <div id="map_view"></div>
    <div id="left_view">
        <div id="body_view"></div>
        <div id="word_cloud"></div>
    </div>
    <div id="right_view">
        <div id="radar"></div>
        <div id="job_pie"></div>
    </div>
    <div id="timeline"></div>
</body>




<script type="text/javascript" src="../static/js/map_view.js"></script>
<script type="text/javascript" src="../static/js/radar.js"></script>
<script type="text/javascript" src="../static/js/timeline.js"></script>
<script type="text/javascript" src="../static/js/job_pie.js"></script>
</html>