<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HealthVis</title>
</head>




<body>
    <div id="title">
        <span id="system_title">日照市健康可视分析系统</span>
    </div>
    <div id="map_view"></div>
    <div id="right_view">
        <div id="radar"></div>
        <div id="job_pie"></div>
    </div>
    <div id="timeline"></div>
</body>


<link rel="stylesheet" href="../static/css/base.css">
<link rel="stylesheet" href="../static/css/map_view.css">
<link rel="stylesheet" href="../static/css/timeline.css">
<link rel="stylesheet" href="../static/css/radar.css">
<link rel="stylesheet" href="../static/css/job_pie.css">

</html>