<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WeatherVis</title>
</head>
<script type="text/javascript" src="../static/lib/jquery/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="../static/lib/echarts/echarts.min.vband.js"></script>
<link rel="stylesheet" href="../static/css/weather_base.css">

<body>
    <div id="title">
        <span id="system_title">城市公共健康态势监控和可视分析平台——气候分析</span>
        <button id="map_page">健康态势</button>
        <button id="body_page">疾病分析</button>
    </div>
    <div id="main_view">
        <div id="xiaobei"></div>
        <div id="tem"></div>
        <div id="heatmap"></div>
        <div id="scatter"></div>
        <div id="scatter2"></div>
    </div>


</body>


<script type="text/javascript" src="../static/js/weather_view.js"></script>
<script type="text/javascript" src="../static/js/weather_vis_main.js"></script>


</html>